<!-- <div class="footerContainer">
    <div class="footerContent">
        <div>
            
            </div>
        </div>
        
        <div>
            <div class="downloadArea">
                
            </div>
        </div>
        
            

        <div class="addressArea">
            
        </div>
        <div class="logoArea">
            
        </div>


    </div>
</div> -->

<div class="container-fluid bg-black">
  <div class="container text-white">
    <div class="row">
      <div class="col-8 pb-4 pt-3">
        <p>
          Follow Supercell!
        </p>
  
        <span>
          <a href="https://www.youtube.com/supercell">
            <img src="https://store.supercell.com/_next/static/media/icon-social-youtube-white.fde9d8af.svg" alt="youtube"/>
          </a>
        </span>
  
        <span class="ps-3">
          <a href="https://www.facebook.com/supercell/">
            <img src="https://store.supercell.com/_next/static/media/icon-social-facebook-white.bf013e40.svg"/>
          </a>
        </span>
  
        <span class="ps-3">
          <a href="https://www.instagram.com/supercell/">
            <img src="https://store.supercell.com/_next/static/media/icon-social-instagram-white.6672578f.svg" alt="youtube"/>
          </a>
        </span>
  
        <span class="ps-3">
          <a href="https://twitter.com/supercell">
            <img src="https://store.supercell.com/_next/static/media/icon-social-twitter-white.f4745db2.svg" alt="youtube"/>
          </a>
        </span>
  
        <span class="ps-3">
          <a href="https://www.linkedin.com/company/supercell/">
            <img src="https://store.supercell.com/_next/static/media/icon-social-linkedin-white.c916ba21.svg" alt="youtube"/>
          </a>
        </span>
  
        <span class="ps-3">
          <a href="https://www.glassdoor.com/Overview/Working-at-Supercell-EI_IE511675.11,20.htm">
            <img src="https://store.supercell.com/_next/static/media/icon-social-glassdoor-white.5589fd18.svg" alt="youtube"/>
          </a>
        </span>
      </div>
      
      <div class="col-4 d-flex pt-3 bottom-1 end-0">
          <a href="https://apps.apple.com/us/developer/supercell/id488106216">
            <img src="https://www.clashofstats.com/_nuxt/img/play-store.4292ee9.svg" alt="ios" class="img-fluid" style="height: 3rem; width: 8rem;">
          </a>
        
          <a href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans&hl=en">
            <img src="https://www.clashofstats.com/_nuxt/img/app-store.d426fce.svg" alt="android" class="img-fluid" style="height: 3rem; width: 9rem; margin-left: 10%;">
          </a>
        </div>
  
      <div class="row pb-4 border-bottom border-white">
          <div class="col">
              <a class="link" href="https://supercell.com/en/terms-of-service/" target="_blank" rel="noreferrer">
                  Terms of Service
                </a>
          
                <a class="link ps-3" href="https://supercell.com/en/privacy-policy/" target="_blank" rel="noreferrer">
                  Privacy Policy
                </a>
          
                <a class="link ps-3" href="https://supercell.com/en/parents/" target="_blank" rel="noreferrer">
                  Parent's Guide
                </a>
                <a class="link ps-3" href="https://supercell.com/en/safe-and-fair-play/" target="_blank" rel="noreferrer">
                  Safe and Fair Play Policy
                </a>
          </div>
      </div>
  
      <div class="row pt-3">
          
        <div class="col-6">
          <p>Supercell Oy</p>
          <p>Jätkäsaarenlaituri 1</p>
          <p>00180 Helsinki</p>
          <p>Finland</p>
          <p>Business ID 2336509</p>
        </div>
  
        <div class="col-6">
          <div class="position-relative">
              <a href="https://supercell.com/" class="position-absolute bottom-1 end-0 pt-5">
                  <img src="https://store.supercell.com/_next/static/media/supercell-logo-white.ad1dad43.svg" alt="supercellLogo" style="width: 6rem;"/>
                </a>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  </div>
  