<!-- <div class="gamePresentationContainer">
    <div class="badge">
        <img class="image" src={{image}} alt="CRBadge">
    </div>

    <div class="text">
        <h1>{{titlu}}</h1>
        <p>{{descriere}}</p>
    </div>

    <div>
        <div class="stores">
            <span>
                <a href="https://apps.apple.com/us/developer/supercell/id488106216">
                    <img style="width: 5.5em; " src="https://store.supercell.com/_next/static/media/app-store_badge_en.181ec940.svg" alt="ios">
                </a>
            </span>

            <span>
                <a href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans&hl=en">
                    <img style="width: 6.2em; padding-left: 1em;" src="https://store.supercell.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fgoogle-play-badge_en.9b2c1bf2.png&w=256&q=100" alt="android">
                </a>
            </span>
        </div>
    </div>
</div> -->


<div class="container-sm shadow p-3 mb-5 bg-body-tertiary rounded-5 pb-5 pt-5">
    <div class="row">
        <div class="col-md-6">
            
            <div> <!--aici ar veni padding-left-->
                <img style="height: 20rem; width: 20rem;" class="img-fluid mx-auto d-block" src={{image}} alt="CRBadge">
            </div>

        </div>

        <div class="col-md-6" style="font-family: Arial, Helvetica, sans-serif;">
            <div class="text-wrap">
                <p class="fw-bold fs-2 pt-4">{{titlu}}</p>
                <p class="text-secondary fs-5">{{descriere}}</p>
            </div>
            <div>
                <span>
                    <a href="https://apps.apple.com/us/developer/supercell/id488106216">
                        <img class="img-fluid" style="width: 10rem; padding-right: 1rem;" src="https://www.clashofstats.com/_nuxt/img/play-store.4292ee9.svg" alt="ios">
                    </a>
                </span>
    
                <span>
                    <a href="https://play.google.com/store/apps/details?id=com.supercell.clashofclans&hl=en">
                        <img  class="img-fluid" style="width: 10.5rem;" src="https://www.clashofstats.com/_nuxt/img/app-store.d426fce.svg" alt="android">
                    </a>
                </span>
            </div>
        </div>
      </div>
 </div>
