<!-- <div class="imageContainer">
    <img class="imgStyle" src="../../../../assets/top4.png" alt="ClashOfClans Background">
</div>

<div class="imageContainer">
    <img class="imgStyle" src="../../../../assets/top27ww.png" alt="ClashOfClans Background">
</div> -->

<div class="container-sm rounded-5 pb-5 text-center">
    <img class="img-fluid rounded-4" src="../../../../assets/top4.png" alt="ClashOfClans Background">
</div>
<div class="container-sm rounded-5 pb-5 text-center">
    <img class="img-fluid rounded-4" src="../../../../assets/top27ww.png" alt="ClashOfClans Background">
</div>

<footer></footer>

<!-- <div *ngIf="functie(); then ifBlock else elseBlock"></div>
<ng-template #ifBlock>
    <div>e conectat</div>
</ng-template>

<ng-template #elseBlock>
    <div>nu e conecddatat</div>
</ng-template> -->